h1 {
    color: black;
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 70px;
    border-bottom: 5px darkblue;
}

body {
    display:flex;
    justify-content: center;
    background-color: #F69677;
    color: blanchedalmond;
    font-family: cursive;
    font-weight: 900;
}

button {
    margin: 30px auto;
    padding: 20px 25px;
    border: 2px solid #F69677;
    background-color: darkblue;
    color: #F69677;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 4px;
    outline: none;
}

button:hover {
    transition: 300ms;
    background-color: #F69677;
    color: darkblue;
    text-decoration: underline;
}

img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#container {
    display:flex;
    flex-direction: column;
    background-color: darkblue;
    align-items: center;
    justify-content: space-evenly;
    height:50vh;
    width:50vh;
}

p {
    font-size: 20px;
}